<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TopHots</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="app.css" type="text/css">
    <script src="react/react.js"></script>
    <script src="react/transform.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="ui"></div>
</body>
<script type='text/javascript'>
  heroes =<%-JSON.stringify(heroes)%>
</script>
<script type="text/jsx"  src="app.jsx"></script>
</html>
